body {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  min-height: 50px;
  background-color: #f5f5f5;
  padding: 10px;
}

ul > li > img {
  width: 50px;
}

.game-record {
  gap: 24px;
}

.game-record > li {
  align-self: center;
  font-size: 18px;
}

.card-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open-card-area,
.hidden-card-area {
  height: 300px;
}
.open-card-area img,
.hidden-card-area img {
  width: 200px;
}

.button-area {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button-area button {
  padding: 10px;
  font-size: 20px;
  color: white;
  letter-spacing: 1.9px;
  border-radius: 4px;
  width: 100px;
}

.button-area > .start-button {
  background-color: #008080;
  border: 0;
}

.row {
  background-color: #87cefa;
  border: 0;
}

.hight {
  background-color: #ff7f50;
  border: 0;
}

.cemetery-title {
  background-color: #f5f5f5;
  width: 150px;
  padding: 5px 0;
  text-align: center;
  color: #696969;
}

.cemetery-area {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 1.9px;
  font-weight: bold;
}
